header h1 {
    text-align: center;
    font-size: 500%;
    text-transform: capitalize;
    color: #3d2168;
    text-decoration-color: #E0115F;
    text-shadow: 3px 2px 0px rgb(135, 255, 44);
    text-decoration-line: underline;
    background-color: #E0115F;

}

#hero-div {
    background-color: blue;
    height: 300px;
    width: 100%;
}

#hero-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}