

header h1 {
    text-align: center;
    font-size: 500%;
    text-transform: capitalize;
    color: #3d2168;
    text-decoration-color: #E0115F;
    text-shadow: 3px 2px 0px rgb(135, 255, 44);
    text-decoration-line: underline;
    background-color: #E0115F;
    
}

#hero-div {
    background-color: blue;
    height: 500px;
    width: 100%;
}

