@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald&display=swap');

body {
    font-family: oswald;
}

header {
    font-family: lato;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

h2,h3 {
    color: #3d2168;
    text-shadow: 1px 1px 0px #f0cedb;
    text-decoration-line: underline;
}

p {
    color: #3d2168;
}

/*nav bar*/

#menu {
    text-align: center;
    scroll-margin-top: 4%;
}

#menu li { 
    display: inline;
    padding: 0 5%;  
}

#menu a:link {
    color: #3d2168;
}

#menu a:visited {
    color:#E0115F
}

#menu a:hover {
    color: rgb(135, 255, 44);
}

/*heading and hero image*/

#hero h1 {
    text-align: center;
    font-size: 500%;
    text-transform: capitalize;
    color: #3d2168;
    text-decoration-color: #E0115F;
    text-shadow: 3px 2px 0px rgb(135, 255, 44);
    text-decoration-line: underline;
}

#hero-div {
    background-color: blue;
    height: 300px;
    width: 100%;
}

#hero-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*about*/

.main-div {
    width: 30.33%;
    height: 550px;
    margin: 0 1.5%;
    float: left;
    font-family: lato;
    text-align: center;
}

.main-div h2,h3 {
    
    padding: 7% 0 3% 0;
    font-size: 150%;
}

/*How to*/

#how-to {
    padding: 0 5%;   
}

#how-to li {
    
    color: #3d2168;
}

/*footer*/

.social-networks {
    text-align: center;
    padding: 1%;
}

.social-networks li {
    padding: 5%;
    display: inline;
}

/*larger than 1200px screen*/

@media screen and (min-width:1200px) {
 #hero-div {
    background-color: blue;
    height: 450px;
    width: 100%;
}

#hero h1 {
    font-size: 700%;
}

.main-div h2,h3,p {
    font-size: 130%;
}

#how-to h2,ul li,ol li {
    font-size: 130%;
}
}

@media screen and (max-width:700px) {
.main-div {
    width: 70%;
    height: 80%;
    margin: 0 15%;
}
    #menu li { 
        display: inline;
        padding: 5% 5%; 
}

#hero-div {
    height: 250px;
}
}


